[project]
	description = Show a stream of your online activity with jQuery
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sgotliv
[access "refs/for/refs/*"]
	read = group user/sgotliv
	push = group user/sgotliv
	label-Code-Review = -2..+2 group user/sgotliv
	label-Verified = -1..+1 group user/sgotliv
	rebase = group user/sgotliv
	removeReviewer = group user/sgotliv
	submit = group user/sgotliv
[access "refs/heads/*"]
	read = group user/sgotliv
	create = group user/sgotliv
	push = +force group user/sgotliv
	pushMerge = group user/sgotliv
[access "refs/tags/*"]
	push = +force group user/sgotliv
	pushTag = group user/sgotliv
	pushSignedTag = group user/sgotliv
